<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >DEBITUM account activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <p>Hello,</p>
        <p>
            An account has been created for you with username <b th:text="${login}">  </b>. To set your password, please click here: <a th:href="@{|${debitumUrl}/#/set-password/${activationKey}|}" th:text="@{|${debitumUrl}/#/set-password/${activationKey}|}"></a>
        </p>
        <p>
            <span>Thanks, </span>
            <br />
            <em>Debitum team</em>
        </p>
    </body>
</html>
